@using Ders4_1_DLL.EntitiesTablolar

@model Urunler

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="post" asp-controller="Urunler">
    <div class="row">
        <h3 class="card-header card-body">Ürün Ekle</h3>

        <div class="dol-md-8">
            <label class="col-form-label">Ürün Adı</label>
            <input name="adi" class="form-control" type="text" autocomplete="off" placeholder="Ürün adı giriniz!">
        </div>

        <div class="dol-md-8">
            <label class="col-form-label">Ürün Stok</label>
            <input name="stok" class="form-control" type="text" autocomplete="off" placeholder="Ürün stok giriniz! ">
        </div>

        <div class="dol-md-8">
            <label class="col-form-label">Ürün Fiyat</label>
            <input name="fiyat" class="form-control" type="text" autocomplete="off" placeholder="Ürün fiyat giriniz!">
        </div>
        <div class="dol-md-8 m-2">
            <input type="submit" class="btn btn-success" />
        </div>
    </div>
</form>
<p class="text-danger ">@ViewBag.sonuc</p>